<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  {{>header}}
  <div class="container page404__container">
    <p>
    {{message}}
    </p>
    <p>
      this is the path 
      <code>{{path}}</code>
    </p>
  </div>
  {{>footer}}
</body>
</html>
