
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  {{>header}}
  <div class="container about__container">
    <p>This site was create by Juan Moreno. It uses data from mapbox.com and weatherstack.com</p>
    <picture>
      <img src="{{image}}" alt="{{name}}">
    </picture>
  </div>

  {{>footer}}
</body>
</html>
