<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  {{>header}}
  <div class="container weather__container">
    <p>Use this site to get your weather</p>
    <hr>
    <form action="">
      <input type="text" name='input' placeholder="location">
      <button>Search</button>
    </form>
    <div class="res"></div>
  </div>
  {{>footer}}
  <script src="assets/js/index.js"></script>
</body>
</html>
