html,
body {
    min-height: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    font: 16px Tahoma;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

h1 {
    color: gray;
    font: normal 3vh Monospace;
}

li {
    margin: 0.5vh 0;
}

a {
    background-color: gray;
    color: white;
    font-size: 2vh;
    padding: 0.1vh 5px;
    text-decoration: none;
}

p {
    margin: 1vh 0;
}

header {
    height: 20vh;
    padding: 0 16px;
}

footer {
    align-items: flex-end;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: flex-end;
    height: 30vh;
    padding: 16px;
}

.container {
    display: flex;
    height: 50vh;
    padding: 0 16px;
}

/* home - weather */
.weather__container {
    flex-direction: column;
}

.weather__container div {
    margin-top: 5vh;
}

/* about */
.about__container {
    flex-direction: column;
    justify-content: space-around;
}

.about__container picture {
    border: 10px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    box-shadow: 0 0 20px gray;
    display: block;
    height: 200px;
    overflow: hidden;
    width: 200px;
}

.about__container img {
    width: 100%;
}

/* 404 */
.page404__container {
    flex-direction: column;
}
